<mat-toolbar color="warn">
  <span class="title margin-right">Multi Module Poke App</span>
  <div class="space margin-right"></div>
  <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button class="margin-right" mat-button routerLink="/pokemon-page">
    Pokemons
  </button>
  <button class="margin-right" mat-button routerLink="/berries-page">
    Berries
  </button>
  <button class="margin-right" mat-button routerLink="/item-page">Items</button>
</mat-toolbar>
