.login-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 50px;
}
.spinner {
    margin-right: auto;
    margin-left: auto;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

.login-button{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 50px;
    background-color: #f44336;
}